<header class="header">
    <p class="logo">logo</p>
    <nav class="menu">
        <ul class="list">
            <li class="item">
                <a class="link" href="/">
                    Home
                </a>
            </li>
            <li class="item">
                <a class="link" href="/products">
                    Productos
                </a>
            </li>
            <li class="item">
                <a class="link" href="/chat">
                    Chat
                </a>
            </li>
        </ul>
    </nav>
</header>