<div class="form__container">
    <h2 class="form__title">Add a new product</h2>
    <form id="postForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="title" id="formTitle" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" placeholder="description" id="formDescription" required>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" placeholder="price" id="formPrice" required>
        </div>
        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" name="code" placeholder="code" id="formcode" required>
        </div>
        <div class="form-group">
            <label for="stock">Status</label>
            <input type="text" name="status" placeholder="status" id="formStatus" required>
        </div>
        <div class="form-group">
            <label for="stock">Category</label>
            <input type="text" name="category" placeholder="category" id="formCategory" required>
        </div>
        <div class="form-group">
            <label for="stock">Thumbnails</label>
            <input type="text" name="thumbnails" placeholder="thumbnail" id="formThumbnails" required>
        </div>
        <input type="submit" value="Enviar" class="submit__btn">
    </form>
</div>